
import random

def name_to_number(name):
    if name == "rock":
        return 0
    elif name == "Spock":
        return 1
    elif name == "paper":
        return 2
    elif name == "lizard":
        return 3
    elif name == "scissors":
        return 4
    else:
        print "Player used invalid choice"
    return name

name_to_number("rock")

def number_to_name(number):
    if number == 0:
        print "rock"
    elif number == 1:
        print "Spock"
    elif number == 2:
        print "paper"
    elif number == 3:
        print "lizard"
    elif number == 4:
        print "scissors"
    else:
        print "Computer used invalid choice"
    return number

def rpsls(player_choice):
    print " "
    print "Player used", player_choice
    comp_number = random.randrange(0,5)
    print "Computer used", 
    comp_choice = number_to_name(comp_number)
    player_number = name_to_number(player_choice)
    
    if (int(player_number) - comp_number) % 5 == 0:
        print "Computer and Player tie!"
    elif (int(player_number) - comp_number) % 5 == 1:
        print "Player wins!"
    elif (int(player_number) - comp_number) % 5 == 2:
        print "Player wins!"
    elif (int(player_number) - comp_number) % 5 == 3:
        print "Computer wins!"
    elif (int(player_number) - comp_number) % 5 == 4:
        print "Computer wins!"
    else:
        print "invalid choice"
    return


rpsls("rock")
rpsls("Spock")
rpsls("paper")
rpsls("lizard")
rpsls("scissors")

